<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Image Gallery</title>
  </head>
  <body>
    <h1>Image Gallery</h1>

    <ul id="navigation">
      {% for item in navigation %}
      <div>
        <h3>Original Image</h3>
        <img
          style="height: 200px; width: 50%"
          src="{{ item.original_image_url }}"
        />

        {% if item.resized_image_url %}
        <h3>Resized Image (200x200)</h3>
        <img
          style="height: 200px; width: 50%"
          src="{{ item.resized_image_url }}"
        />
        {% endif %}
      </div>
      {% endfor %}
    </ul>
  </body>
</html>
